@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
}

.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

/*  navbar   inicio*/
.navbar{
    position: fixed;
    width: 100%;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    z-index: 999;
    transition: all 0.3s ease;
    background-color: #111;
}

.navbar-icon {
    color:#fff;
    font-size: 60px;
    
}

.navbar.sticky{
     background: #00804b;
     padding: 15px 0;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color: #fff;
    font-size: 25px;
    font-weight: 500;
}
.navbar .logo a span{
    color: #00804b;
    transition: all 0.3s ease;
}
.navbar.sticky .logo a span{
    color: #fff;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover{
    color: #00804b;
}
.navbar.sticky .menu li a:hover{
    color: #fff;
}

/*  Menu  Mobile  */
.menu-btn{
    color: #fff;
    font-size: 26px;
    cursor: pointer;
    display: none;
}
.scroll-up-btn{
    position: fixed;
    width: 41px;
    height: 45px;
    right: 30px;
    bottom: 30px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    background: #00804b;
    border-radius: 6px;
    font-size: 30px;
    z-index: 9999;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.scroll-up-btn.show{
    bottom: 30px;
    opacity: 1;
    pointer-events:auto;
    
}


/*  sessão footer  */
footer{
    font-family: 'Roboto', sans-serif; 
    background: #111;
    padding: 1px 20px;
    color: #fff;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 100px;    
    line-height: 100px;
}
footer span a{
    color: #00804b;
    text-decoration: none;
}
footer span a:hover{
    text-decoration: underline;
}


/*  responsivo  */
@media (max-width: 1300px){
    .navbar .max-width{
        margin-left: 0;
    }
}
@media (max-width: 1104px){
    .about .about-content .left img{
        width: 350px;
        height: 350px;
    }
}
@media (max-width: 991px){
    .navbar .max-width{
        padding: 0 50px;
    }
}
@media (max-width: 947px){
    .max-width{
        max-width: 800px;
        padding: 0 50px;
    }
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .navbar .menu{
        position: fixed;
        width: 100%;
        height: 100vh;
        left: -100%;
        top: 0;
        background: #111;
        padding-top: 80px;
        text-align: center;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .home .home-content .text-2{
        font-size: 70px;
    }
    .home .home-content .text-3{
        font-size: 35px;
    }
    .home .home-content a{
        font-size: 23px;
        padding: 10px 30px;
    }
    .about .about-content .column{
        width: 50%;
    }
    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .right{
        flex: 100%;
    }
    .services .serv-content .card {
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
    .skills .skills-content .column,
    .contact .contact-content .column{
        width: 100%;
        margin-bottom: 35px;
    }


}


@media (max-width: 690px){
    .home .home-content .text-2{
        font-size: 60px;
    }
    .home .home-content .text-3{
        font-size: 32px;
    }
    .home .home-content a{
        font-size: 20px;
    }
    .services .serv-content .card {
        width:100%;
    }
}
@media (max-width: 500px){
    .home .home-content .text-2{
        font-size: 50px;
    }
    .home .home-content .text-3{
        font-size: 27px;
    }
}

/*  sessão do Artigo  */
main {
    padding-top: 100px;
    background-color: whitesmoke;
    text-align: center;
       
}

article {
    padding: 50px 50px 50px 50px;
    background-color: whitesmoke;
    text-align: center;
       
}

h3 {
    margin-bottom: 15px;
}

h3, p {
    text-indent: 2em;
    text-align: left;
    padding-bottom: 2px;
}


aside {
    font-family: 'Ubuntu', sans-serif;
    padding-top: 10px;
    background-color: whitesmoke;
    text-align: center;     
}

aside a {
    color:#111;
    font-family: 'Ubuntu', sans-serif;  
}

.voltar {
    text-align: center;
    background-color: whitesmoke;
}

.voltar-btn {  
    background-color: #00804b;
    font-family: 'Ubuntu', sans-serif;
    color: #fff;
    width: 120px;
    padding: 7px;
    border-radius: 20px;
    align-content: center;
    border-color: #fff;
    box-shadow: #111;
}

.voltar-btn a {
    color: #fff;
    font-size: 15px;
}

.voltar-btn:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.5s ease;
    background-color: #111;
  }

